@using AIaaS.Authorization
@using AIaaS.Web.Areas.App.Models.NlpTokens
@using AIaaS.Web.Areas.App.Startup
@model NlpTokensViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Host.NlpTokens;
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/NlpTokens/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("NlpTokens")" description="@L("NlpTokensHeaderInfo")">

        @if (IsGranted(AppPermissions.Pages_NlpChatbot_NlpTokens_Create))
        {
            <button id="CreateNewNlpTokenButton" class="btn btn-primary blue text-wrap"><i class="fa fa-plus"></i> @L("CreateNewNlpToken")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                @*<div class="form">
                        <div class="row align-items-center mb-4">
                            <div class="col-xl-12">
                                <div class="form-group align-items-center">
                                    <div class="input-group">
                                        <input type="text" id="NlpTokensTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                        <span class="input-group-btn">
                                            <button id="GetNlpTokensButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                            <div class="col-md-12">
                                <div class="kt-separator kt-separator--border-dashed"></div>
                            </div>

                        </div>
                        <div class="row mb-4">
                            <div class="col-xl-12">
                                <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                                <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                            </div>
                        </div>*@
                <div class="row align-items-center">
                    <table id="NlpTokensTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>

                                <th class="text-wrap min-w-60px align-middle">@L("Actions")</th>
                                <th class="text-wrap min-w-60px">@L("NlpTokenType")</th>
                                <th class="text-wrap min-w-60px">@L("NlpTokenValue")</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>